#movieForm{
    background-color: none;
    height: 38em;
    width: 25em;
    top: 5em;
    display:flexbox;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-bottom: 10em;
    box-shadow: 0 0 100px rgb(7, 97, 7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

#title{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 2em;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    background-image: linear-gradient(to right, pink, lightgreen);
}

#director{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 2em;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    background-image: linear-gradient(to right, pink, lightgreen);
}

#year{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 2em;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    background-image: linear-gradient(to right, pink, lightgreen);
}

#genre{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 2em;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    background-image: linear-gradient(to right, pink, lightgreen);
}

#duration{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 2em;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    background-image: linear-gradient(to right, pink, lightgreen);
}

#poster{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 2em;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    background-image: linear-gradient(to right, pink, lightgreen);
}

#rate{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 2em;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }

  .labelname{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 0.7em;
    font-weight: bold;
    color:black;
    font-size: 130%;
  }

  .labeldirector{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 1em;
    font-weight: bold;
    color:black;
    font-size: 130%;
  }

  .labelyear{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 1em;
    font-weight: bold;
    color:black;
    font-size: 130%;
  }

  .labelgenre{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 1em;
    font-weight: bold;
    color:black;
    font-size: 130%;
  }

  .labelduration{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 1em;
    font-weight: bold;
    color:black;
    font-size: 130%;
    margin-top: -4em ;
  }

  .labelposter{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 1em;
    font-weight: bold;
    color:black;
    font-size: 130%;
  }

  .labelrate{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    top: 1em;
    font-weight: bold;
    color:black;
    font-size: 130%;
  }

  #btn-send{
    margin-top: 5em;
    width: 10em;
  }

  #clear-Form{
    margin-top: 5em;
    float: left;
    margin-left: .5em;
    position: absolute;
  }

  #option1{
    position: relative;
    margin-top: 2em;
    margin-left: 1em;
  }

  #option2{
    position: relative;
    margin-left: 1em;
  }

  #option3{
    position: relative;
    margin-left: 1em;
  }

  #option4{
    position: relative;
    margin-left: 7em;
    top: -3em;
    
  }

  #Sci{
    position: relative;
    top: -3em;
  }

  #option5{
    position: relative;
    margin-left: 7em;
    top: -3em;
  }

  #terror{
    position: relative;
    top: -3em;
  }

  #option6{
    position: absolute  ;
    margin-left: 13em;
    margin-top: -5.8em;
  
  }

  #romance{
    position: relative;
    top: -3em
  }
  
#animacion{
  position: absolute;
  margin-left: 14em;
  margin-top: -6em;
}

#option7{
  position: absolute  ;
  margin-left: 13em;
  margin-top: -5.8em;

}

#aventura{
  position: absolute;
  margin-left: 14em;
  margin-top: -6em;
}

#option8{
  position: absolute  ;
  margin-left: 13em;
  margin-top: -5.8em;

}

#belico{
  position: absolute;
  margin-left: 14em;
  margin-top: -6em;
}

.check{
  margin: 0 auto;
}